<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Employee Detail</title>
    <div th:insert="base :: head"></div>
</head>
<body>
<div th:insert="base :: navlinks"></div>
<br>
<div class="container">
    <div class="jumbotron" style="padding-left: 20px">
        <h1 style="color: blue">Employee Details</h1>
        First Name: <span th:text="${employee.first_name}"></span><br />
        Last Name: <span th:text="${employee.last_name}"></span><br />
        Address: <span th:text="${employee.address}"></span><br />
        City: <span th:text="${employee.city}"></span><br />
        State: <span th:text="${employee.state}"></span><br />
        Zip: <span th:text="${employee.zip}"></span><br />
        Job-Title: <span th:text="${employee.job_title}"></span><br />
        Department: <span th:text="${employee.department.department_name}"></span><br />
    </div>
</div>
<div th:insert="base :: footer"></div>
<div th:insert="base :: bootstrapScripts"></div>
</body>
</html>