<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Home</title>
    <div th:insert="base :: head"></div>
</head>
<body>
<div th:insert="base :: navlinks"></div>
<br>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3">
            <h1 style="color: blue"><b>Departments</b></h1>
            <table>
                <tr>
                    <th>Department Name&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
                    <th>Options</th>
                </tr>
                <tr th:each="department : ${departments}">
                    <td th:text="${department.departmentName}"></td>
                    <td>
                        <a th:href="@{update_department/{id}(id=${department.id})}">Update</a>
                        <a th:href="@{detail_department/{id}(id=${department.id})}">Details</a>
                        <a th:href="@{delete_department/{id}(id=${department.id})}">Delete</a>
                    </td>
                </tr>
            </table>
        </div>
        <div class="col-sm-9">
            <h1 style="color: blue"><b>Employees</b></h1>
            <table>
                <tr>
                    <th>First&nbsp;Name&nbsp;&nbsp;</th>
                    <th>Last&nbsp;Name&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
                    <th>Address&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
                    <th>City&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
                    <th>State&nbsp;&nbsp;</th>
                    <th>Zip&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
                    <th>Job&nbsp;Title&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
                    <th>Department&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
                    <th>Options&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
                </tr>
                <tr th:each="employee : ${employees}">
                    <td th:text="${employee.first_name}"></td>
                    <td th:text="${employee.last_name}"></td>
                    <td th:text="${employee.address}"></td>
                    <td th:text="${employee.city}"></td>
                    <td th:text="${employee.state}"></td>
                    <td th:text="${employee.zip}"></td>
                    <td th:text="${employee.job_title}"></td>
                    <td th:text="${employee.department.departmentName}"></td>
                    <td>
                        <a th:href="@{update_employee/{id}(id=${employee.id})}">Update</a>
                        <a th:href="@{detail_employee/{id}(id=${employee.id})}">Details</a>
                        <a th:href="@{delete_employee/{id}(id=${employee.id})}">Delete</a>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
<div th:insert="base :: footer"></div>
<div th:insert="base :: bootstrapScripts"></div>
</body>
</html>